{# MulletBundle/Resources/views/Default/chapterForm.html.twig #}

{{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.action, 'What do you do?') }}
    {{ form_widget(form.action, {
      'attr': {
        'class':'form-control',
      }
    }) }}
    {% if form_errors(form.action)|length > 0 %}
      <div class="alert alert-danger">{{form_errors(form.action)}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    {{ form_label(form.text, 'What happen\'?') }}
    {{ form_widget(form.text, {
      'attr': {
        'class':'form-control'
      }
    }) }}
    {% if form_errors(form.text)|length > 0 %}
      <div class="alert alert-danger">{{form_errors(form.text)}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    {{ form_label(form.img, 'Add an image!') }}
    {{ form_widget(form.img) }}
    {% if form_errors(form.img)|length > 0 %}
      <div class="alert alert-danger">{{form_errors(form.img)}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    {{ form_widget(form.nsfw) }}
    {{ form_label(form.nsfw, ' Not Safe For Work\'?') }}
    {% if form_errors(form.text)|length > 0 %}
      <div class="alert alert-danger">{{form_errors(form.nsfw)}}</div>
    {% endif %}
  </div>
  
  <a href="{{ path('mullet_mullet_homepage', {'id': '1' }) }}" class="btn btn-default" data-dismiss="modal">Nop, I don't know what I want.</a>
  {{ form_widget(form.save, {'attr':{'class':'btn btn-primary'}, 'name': 'I wanna do that now!' }) }}
  {{ form_rest(form) }}
  

{{ form_end(form) }}