{# MulletBundle/Resources/views/Default/createForm.html.twig #}

{% extends 'MulletMulletBundle::base.html.twig' %}

{% block body %}
  
  <h2>What do you want?</h2>

  {% include 'MulletMulletBundle:Default:chapterForm.html.twig' %}
{% endblock %}

