{# MulletBundle/Resources/views/Default/createForm.html.twig #}

{% extends 'MulletMulletBundle::base.html.twig' %}

{% block body %}
  
  <h2>Edit <em>{{ form.action.vars.value }}</em></h2>

  {% include 'MulletMulletBundle:Default:chapterForm.html.twig' %}
{% endblock %}

