{# MulletBundle/Resources/views/Default/index.html.twig #}

{% extends 'MulletMulletBundle::base.html.twig' %}

{% block body %}
	{% block actual %}
		<div class="row">
			<div class="col-lg-4">
				{% if chapter.parents|length > 0 %}
					<div style="text-align: center; margin-top:50px;">
						<a class="btn btn-default btn-lg" href="{{ path('mullet_mullet_homepage', {'id':chapter.parents|first.id }) }}">
							<span class="glyphicon glyphicon-circle-arrow-left"></span>
						</a>
					</div>
				{% endif %}
			</div>

		    <div class="col-lg-4">
			    <div style="text-align: center; margin-bottom: 10px;">
			        <div class="btn-group">
				        <a class="btn btn-success voteButton" id="positiveButton" data-id="{{chapter.id}}" href="#">
				          	<small>(<span id="positiveCount">{{chapter.positive}}</span>)&nbsp;</small><span class="glyphicon glyphicon-thumbs-up"></span>
				        </a>
				        <a class="btn btn-warning voteButton" id="negativeButton" data-id="{{chapter.id}}" href="#">
				          	<span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;<small>(<span id="negativeCount">{{chapter.negative}}</span>)</small>
				        </a>
			        </div>
			    </div>

		      <p class="text-center">
		        <img src="{{ asset('uploads/') }}{{ chapter.path }}" alt="Image" class="img-thumbnail"><br>
		        {{chapter.text}}
		      </p>
	    	</div>

	    	<div class="col-lg-4">
		    	{% if is_granted('ROLE_SUPER_ADMIN') %}
		    		<h2>Administration stuff</h2>
		    		<table class="table table-condensed">
		    			<thead>
		    				<tr>
		    					<th>Data</th>
		    					<th>Value</th>
		    				</tr>
		    			</thead>
		    			<tbody>
		    				<tr>
		    					<td>id</td>
		    					<td>{{ chapter.id }}</td>
		    				</tr>
		    				<tr>
		    					<td>action</td>
		    					<td>{{ chapter.action }}</td>
		    				</tr>
		    				<tr>
		    					<td>text</td>
		    					<td>{{ chapter.text }}</td>
		    				</tr>
		    				<tr>
		    					<td>path</td>
		    					<td>{{ chapter.path }}</td>
		    				</tr>
		    				<tr>
		    					<td>positive</td>
		    					<td>{{ chapter.positive }}</td>
		    				</tr>
		    				<tr>
		    					<td>negative</td>
		    					<td>{{ chapter.negative }}</td>
		    				</tr>
		    				<tr>
		    					<td>nsfw</td>
		    					<td>{{ chapter.nsfw }}</td>
		    				</tr>
		    				<tr>
		    					<td>updateDate</td>
		    					<td>{{ chapter.updateDate|date('d/m/Y H:i:s') }}</td>
		    				</tr>
		    				<tr>
		    					<td>ratio</td>
		    					<td>{{ ratio }}</td>
		    				</tr>
		    			</tbody>
					</table>
					<a href="" class="btn btn-danger">Delete w/ childs</a>
					<a href="" class="btn btn-warning">Delete </a>
					<a href="{{ path('mullet_mullet_edit', {'chapterId': chapter.id }) }}" class="btn btn-info">Edit</a>
		    	{% endif %}
	    	</div>
	  	</div>
	{% endblock %}

	{% if chapterChildrenByPositiveDesc|length > 0 %}
		<hr>


		{% block next %}
		  <div class="row">
	    	<div class="col-lg-4">
	    		<h2>Better</h2>
	    		{% for child in chapterChildrenByPositiveDesc|slice(0,3) %}
	    		<a class="btn btn-info btn-block" href="{{ path('mullet_mullet_homepage', {'id':child.id}) }}">
	    			{{ child.action }}
	    			{% if child.nsfw %} <span class="label label-danger">NSFW!</span>{% endif %}
	    		</a>
	    		{% endfor %}
	    	</div>
	    	<div class="col-lg-4">
	    		<h2>Interesting</h2>
	    		{% for child in chapterChildrenByRatioDesc|slice(0,3) %}
	    		<a class="btn btn-info btn-block" href="{{ path('mullet_mullet_homepage', {'id':child.id}) }}">
	    			{{ child.action }}
	    			{% if child.nsfw %} <span class="label label-danger">NSFW!</span>{% endif %}
	    		</a>
	    		{% endfor %}
	    	</div>
	    	<div class="col-lg-4">
	    		<h2>Latest</h2>
	    		{% for child in chapterChildrenByDateDesc|slice(0,3) %}
	    		<a class="btn btn-info btn-block" href="{{ path('mullet_mullet_homepage', {'id':child.id}) }}">
	    			{{ child.action }}
	    			{% if child.nsfw %} <span class="label label-danger">NSFW!</span>{% endif %}
	    		</a>
	    		{% endfor %}
	    	</div>     
		  </div>
		{% endblock %}

		{% if chapterChildrenByPositiveDesc|length > 2 %}
		  <hr>

		  {% block nextMore %}
			  <h2>I do somethin' else</h2>

			  <!--<form class="form-inline" role="form">
			    <div class="form-group">
			      <select class="form-control input-sm" id="sort">
			        <option selected="" disabled="">Sort by</option>
			        <option>views</option>
			        <option>date</option>
			        <option>+ 1</option>
			        <option>- 1</option>
			      </select>
			    </div>
			  </form>-->

			  <ul class="">
			  	{% for child in chapterChildrenByPositiveDesc|slice(3,chapterChildrenByPositiveDesc|length) %}
			    	<li><a href="{{ path('mullet_mullet_homepage', {'id':child.id}) }}">{{ child.action }}</a></li>
			    {% endfor %}
			  </ul>
			{% endblock %}
		{% endif %}
	{% endif %}

  <hr>

  <a data-toggle="modal" href="{{ path('mullet_mullet_create', {'parentId':chapter.id }) }}" class="btn btn-primary btn-block" id="btn-create">
    <span class="glyphicon glyphicon-plus"></span>
    {% if chapterChildrenByPositiveDesc|length == 0 %}
    	I want to...
    {% elseif chapterChildrenByPositiveDesc|length < 3 %}
    	I want to do somethin' else!
    {% else %}
    	I really want to do somethin' else!
    {% endif %}
  </a>
{% endblock %}
