{# MulletBundle/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>The only end is your mind</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% stylesheets '@MulletMulletBundle/Resources/public/css/*' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1><a href="{{ path('mullet_mullet_homepage', {}) }}">The only end is your mind</a></h1>
      </div>

  	  {% block body %}
      {% endblock %}
      
    </div>

  	
  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {% javascripts '@MulletMulletBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
  </body>
</html>
